
+-body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.csuszka-doboz {
    margin: 20px 0;
}

input[type="range"] {
    width: 100%;
    margin-top: 10px;
}

#tagLista {
    margin-top: 10px;
}

.tag-sav {
    height: 30px;
    border-radius: 5px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    color: white;
    font-weight: bold;
    transition: width 0.3s;
}
.tag-pozitiv {
    background-color: green;
}

.tag-negativ {
    background-color: red;
}

.osszeg {
    margin-top: 20px;
    padding: 10px;
    background-color: #dff0d8;
    border-radius: 5px;
}
